.projects-section {
  padding: 3rem 2rem;
  height: 90vh;
  text-align: center;
  background-color: rgb(2, 2, 24);
  color: white;
}

@media (max-width:480px) {
 .projects-section{
  height: 50vh;
 } 
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 4rem;
  margin-top: 3.5rem;
}

.projects-section h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.2rem;
  color: rgb(48, 227, 255);
}

@media (max-width:480px) {
  .projects-section h2{
    font-size: 1.8rem;
  }
}


.projects-container h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: rgb(82, 218, 255);
}

@media (max-width:480px) {
 .projects-container h3{
  font-size: 0.8rem;
 } 
}

.projects-container p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(228, 228, 228);
  line-height: 1.7rem;
}

@media (max-width:600px) {
 .projects-container p{
  line-height: 1.4rem;
  font-size: 0.6rem;
 } 
}

.project-card {
  display: block;
  width: 21%;
  background-color: #14202d;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: transform 0.7s ease, box-shadow 0.3s ease;
}

@media (max-width:600px) {
 .project-card {
  margin-top: 1rem;
  width: 45%;
  margin-left: -3rem;
 } 
}

.project-card:hover {
  transform: translateY(-6px);
  border: 1.5px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 25px rgb(42, 150, 193);
}
.project-card img {
  width: 109.5%;
  margin-left: -15px;
  margin-top: -15.5px;
  display: block;
  border-radius: 11px;
  filter: brightness(70%);
}

@media (max-width:600px) {
 .project-card img{
  width: 122%;
 } 
}