.skills-section {
  width: 100%;
  height: 95vh;
  background-color: rgb(2, 2, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: white;
}


@media (max-width: 600px) {
  .skills-section{
    height: 80vh;
  }   
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-top: -7rem;
  font-family: italic;
  color: rgb(81, 158, 229);
  text-shadow: 
    0 10px 10px rgb(20, 45, 68),   
    0 10px 15px rgb(52, 96, 136); 
}


@media (max-width: 600px) {
  .skills-section h2{
    margin-top: 15rem;
    font-size: 1.3rem;
  }   
}

.skills-grid {
  display: flex;
  gap: 2rem;
  margin-top: 3.5rem;
  position: relative;
  z-index: 10;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-card {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  padding: 2.5rem;
  width: 27rem;
  cursor: pointer;
  transition: transform 0.5s ease; 
  text-align: center;
  position: relative; 
  overflow: hidden;
  border: 1px solid rgb(76, 72, 72);
  box-shadow: 0px 5px 10px  rgb(52, 96, 136);

}


@media (max-width: 600px) {
 .skills-card{
  width: 13rem;
  padding: 1.3rem;
  height: auto ;
 }   
}



.skills-card:hover{
  border: 1px solid rgb(69, 124, 176);
  transform: scale(1.02);
}
.skills-card h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d4d6d6;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
 .skills-card h3{
  font-size: 0.7rem;
 }
}

.icons {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}


@media (max-width: 600px) {
 .icons{
  gap: 1rem;
 }   
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}


@media (max-width: 600px) {
 .icons div{
  font-size: 1rem;
 }   
}

.icons div p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgba(255,255,255,0.9);
}


@media (max-width: 600px) {
 .icons div p{
  font-size: 0.4rem;
 }   
}